$clr-primary: #BFA249;
$clr-secondary: #593B02;
$clr-primary-muted: #A6874E;
$clr-dark: #261201;
$clr-wildcard: #593A28;

body{
	background-color: $clr-primary;
}

nav{
	position: fixed;
	display: flex;
	align-items: right;
	justify-content: right;
	gap: 10px;
	width: 90%;
	height: 50px;

	img{
		// width: 50px;
		align-self: right;
	}
}